<footer class="footer">
    <div class="footer-brand">Creator</div>
    <hr>
    <h2>If you have the data we can breathe life into it.</h2>
    <div class="d-md-flex footer-link justify-content-md-between">
        <ul class="links list-unstyled nav">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Discord</a></li>
        </ul>
        <ul class="links list-unstyled nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Text</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </div>
</footer>