<footer class="footer">
    <div class="container">
        <div class="col-12">
            <h2 class="text-center text-md-right">Breathing life into data</h2>
        </div>
    </div>
    <div class="align-items-center d-flex d-md-flex flex-column flex-md-row footer-link justify-content-md-between">
        <ul class="links list-unstyled nav">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Discord</a></li>
        </ul>
        <ul class="links list-unstyled nav mt-md-0">
            <li><a href="#">About</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Text</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </div>
</footer>