.view-art {
    background: #f8eabb;
    min-height: 100vh;
    padding: 50px;
}

.artmeta-container {
    background: #ffe1e3;
    padding: 40px 0;
    position: relative;
    min-height: 100vh;
    @media (min-width: 768px) {
        padding: 100px 40px;
    }
}

h2 {
    color: #000;
    font: bold 20px/1 "Myriad-Pro", sans-serif;
    margin: 0;
    text-transform: uppercase;
    @media (min-width: 768px) {
        font-size: 56px;
    }
    @media (min-width: 1025px) {
        font-size: 70px;
    }
}

.link-meta {
    margin-top: 40px;
    margin-bottom: 50px;
    @media (min-width: 768px) {
        margin-top: 150px;
    }
    ul {
        li {
            color: #000;
            font: 12px/1 "Myriad-Pro", sans-serif;
            margin-top: 20px;
            @media (min-width: 768px) {
                font-size: 18px;
            }
            .icon {
                margin-right: 8px;
                @media (min-width: 768px) {
                    margin-right: 15px;
                }
                @media (max-width: 767px) {
                    img {
                        height: 16px;
                        width: 16px;
                    }
                }
            }
            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

.bidding-meta {
    @media (min-width: 768px) {
        white-space: nowrap;
    }
    h2 {
        color: #000;
        font: 30px/1 "Myriad-Pro", sans-serif;
        margin-bottom: 20px;
    }
    .art-metabox {
        @media (min-width: 768px) {
            margin-bottom: 60px;
        }
    }
}

.bid-box {
    position: relative;
    margin-top: 20px;
    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
    .bidder {
        margin-right: 15px;
        color: #000;
        font: 14px "Myriad-Pro", sans-serif;
        @media (min-width: 768px) {
            margin-right: 60px;
            font-size: 26px;
        }
        span {
            color: #666666;
            font-size: 10px;
            margin-top: 10px;
            @media (min-width: 768px) {
                font-size: 14px;
            }
        }
    }
    .at {
        @extend .bidder;
        margin: 0;
    }
    .circle {
        border: 1px solid #000;
        border-radius: 50%;
        display: block;
        height: 24px;
        margin-right: 20px;
        width: 24px;
        @media (min-width: 768px) {
            height: 40px;
            width: 40px;
        }
        &.pink {
            background: #edb9d5;
        }
        &.blue {
            background: #cad2eb;
        }
        &.yellow {
            background: #f4f2c9;
        }
        &.green {
            background: #9bd1a2;
        }
    }
}

.bid-container {
    background: #e3fffc;
    padding: 40px 15px;
    min-height: 100vh;
    @media (min-width: 768px) {
        padding: 100px 40px;
        h2 {
            margin-bottom: 40px;
        }
    }
}