<section class="sec bg-holder home">
    <div class="bg-place fix" style="background-image:url('/assets/images/landscape_bg.jpg');"></div>
    <a href="#" class="contact-cta cta black">Connect to Wallet</a>
    <div class="brand">
        <img src="/assets/images/logo.png" alt="" class="w-100">
    </div>
</section>
<section class="sec green">
    <div class="container">
        <div class="align-items-md-center row">
            <div class="col-md-4">
                <div class="video-embed mb-5 d-md-none">
                    <div class="invisible size">
                        <img src="/assets/images/video-frame.jpg" alt="" class="w-100">
                    </div>
                    <iframe src="https://www.youtube.com/embed/oO7OU5RYvYs?rel=0" width="560" height="315" frameborder="0"></iframe>
                </div>
                <h2>WHAT ARE THE FINILIAR</h2>
                <p>The Finilar are a series of cute avatars that respond to the flow of data, becoming happy and healthy as value increases and depressed, sad and possibly dying as it falls. In this way the Finilar might be said to be alive, the manifestation
                    of digital entities, many of which touch our day to day lives as the value of a currency or company fluctuates.</p>
                <h2>A LIVING NFT</h2>
                <p>The Finiliar are first an art work, existing as living NFTs feeding off each crypto currency, second by second, minute by minute. You’ll be able to tell in a glance how your favourite coin is doing, whether you should buy more to help
                    out your new friend or possibly divest and abandon the Finiliar to their fate.</p>
                <h2>ALWAYS AVAILABLE FOR YOU</h2>
                <p>There will only ever be one Finiliar for any currency, more than just an mascot the Finiliar are in a way the living embodiment of the data the represent. Finiliar by their nature love the market, each will always be exposed to the market,
                    always for sale, with the successful bidder able to set the next price. In this way you’ll always have an opportunity to own one of these critters.</p>
                <h2>PERKS OF A FINILIAR</h2>
                <p>There are various perks to being an owner of a Finilar, these include but not limited to access to sculptural avatars, access to the Finilars in Decentraland as well as much much more. The hope is that with your help the Finiliarverse
                    can grow and grow and grow. </p>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="video-embed d-md-block d-none">
                    <div class="invisible size">
                        <img src="/assets/images/video-frame.jpg" alt="" class="w-100">
                    </div>
                    <iframe src="https://www.youtube.com/embed/oO7OU5RYvYs?rel=0" width="560" height="315" frameborder="0"></iframe>
                </div>
                <div class="pic-place mt-5">
                    <img src="/assets/images/finiliars-group-pic.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec bg-holder">
    <div class="bg-place" style="background-image:url('/assets/images/landscape_bg.jpg');"></div>
    <div class="container">
        <div class="col-md-5 offset-md-6">
            <h2>ALWAYS AVAILABLE FOR YOU</h2>
            <p>Finiliar also love the market, each Finiliar is always exposed to the market, always for sale, with the successful bidder able to set the next price, meaning you’ll always have a chance to own one of these critters.</p>
            <p>Once you are in possession of the Finilar a host of other features will be available to you including access to sculptural work, access to Finilars in Decentraland and much much more. </p>
        </div>
    </div>
</section>
<section class="art-card burlywood">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-5">
                <div class="img-holder"><img src="/assets/images/fin_1.png" alt="" class="w-100"></div>
            </div>
            <div class="align-self-center col-lg-7 col-xl-6 offset-lg-1">
                <div class="art-metabox">
                    <h2>ETHEREUM</h2>
                    <div class="bid d-flex">
                        <div class="meta">
                            <h3>Current Bid</h3>
                            <h4 class="price">299.43 ETH</h4>
                            <h5 class="d-none d-md-block">$1000000.23</h5>
                        </div>
                        <div class="meta">
                            <h3><span class="d-md-inline-block d-none">Auction e</span><span class="d-md-none">E</span>nding in</h3>
                            <ul class="list-unstyled nav time">
                                <li class="hours">223<span class="d-md-none">h</span><span class="d-none d-md-block">Hours</span></li>
                                <li class="minute">43<span class="d-md-none">m</span><span class="d-none d-md-block">Minutes</span></li>
                                <li class="second">02<span class="d-md-none">s</span><span class="d-none d-md-block">Seconds</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cta-row">
                        <a href="#" class="cta black">Place a bid</a>
                        <a href="artwork" class="cta white">View artwork</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="art-card skyblue">
    <div class="container">
        <div class="flex-row-reverse row">
            <div class="col-lg-4 col-xl-5 offset-lg-1">
                <div class="img-holder"><img src="/assets/images/fin_2.png" alt="" class="w-100"></div>
            </div>
            <div class="align-self-center col-lg-7 col-xl-6">
                <div class="art-metabox">
                    <h2>BITcoin</h2>
                    <div class="bid d-flex">
                        <div class="meta">
                            <h3>Current Bid</h3>
                            <h4 class="price">299.43 ETH</h4>
                            <h5 class="d-none d-md-block">$1000000.23</h5>
                        </div>
                        <div class="meta">
                            <h3><span class="d-md-inline-block d-none">Auction e</span><span class="d-md-none">E</span>nding in</h3>
                            <ul class="list-unstyled nav time">
                                <li class="hours">223<span class="d-md-none">h</span><span class="d-none d-md-block">Hours</span></li>
                                <li class="minute">43<span class="d-md-none">m</span><span class="d-none d-md-block">Minutes</span></li>
                                <li class="second">02<span class="d-md-none">s</span><span class="d-none d-md-block">Seconds</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cta-row">
                        <a href="#" class="cta black">Place a bid</a>
                        <a href="artwork" class="cta white">View artwork</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="art-card plum">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-5">
                <div class="img-holder"><img src="/assets/images/fin_3.png" alt="" class="w-100"></div>
            </div>
            <div class="align-self-center col-lg-7 col-xl-6 offset-lg-1">
                <div class="art-metabox">
                    <h2>Ripple</h2>
                    <div class="bid d-flex">
                        <div class="meta">
                            <h3>Current Bid</h3>
                            <h4 class="price">299.43 ETH</h4>
                            <h5 class="d-none d-md-block">$1000000.23</h5>
                        </div>
                        <div class="meta">
                            <h3><span class="d-md-inline-block d-none">Auction e</span><span class="d-md-none">E</span>nding in</h3>
                            <ul class="list-unstyled nav time">
                                <li class="hours">223<span class="d-md-none">h</span><span class="d-none d-md-block">Hours</span></li>
                                <li class="minute">43<span class="d-md-none">m</span><span class="d-none d-md-block">Minutes</span></li>
                                <li class="second">02<span class="d-md-none">s</span><span class="d-none d-md-block">Seconds</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cta-row">
                        <a href="#" class="cta black">Place a bid</a>
                        <a href="artwork" class="cta white">View artwork</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="art-card palegreen">
    <div class="container">
        <div class="flex-row-reverse row">
            <div class="col-lg-4 col-xl-5 offset-lg-1">
                <div class="img-holder"><img src="/assets/images/fin_4.png" alt="" class="w-100"></div>
            </div>
            <div class="align-self-center col-lg-7 col-xl-6">
                <div class="art-metabox">
                    <h2>POKADOT</h2>
                    <div class="bid d-flex">
                        <div class="meta">
                            <h3>Current Bid</h3>
                            <h4 class="price">299.43 ETH</h4>
                            <h5 class="d-none d-md-block">$1000000.23</h5>
                        </div>
                        <div class="meta">
                            <h3><span class="d-md-inline-block d-none">Auction e</span><span class="d-md-none">E</span>nding in</h3>
                            <ul class="list-unstyled nav time">
                                <li class="hours">223<span class="d-md-none">h</span><span class="d-none d-md-block">Hours</span></li>
                                <li class="minute">43<span class="d-md-none">m</span><span class="d-none d-md-block">Minutes</span></li>
                                <li class="second">02<span class="d-md-none">s</span><span class="d-none d-md-block">Seconds</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cta-row">
                        <a href="#" class="cta black">Place a bid</a>
                        <a href="artwork" class="cta white">View artwork</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="art-card lemon">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-5">
                <div class="img-holder"><img src="/assets/images/fin_5.png" alt="" class="w-100"></div>
            </div>
            <div class="align-self-center col-lg-7 col-xl-6 offset-lg-1">
                <div class="art-metabox">
                    <h2>EDG</h2>
                    <div class="bid d-flex">
                        <div class="meta">
                            <h3>Current Bid</h3>
                            <h4 class="price">299.43 ETH</h4>
                            <h5 class="d-none d-md-block">$1000000.23</h5>
                        </div>
                        <div class="meta">
                            <h3><span class="d-md-inline-block d-none">Auction e</span><span class="d-md-none">E</span>nding in</h3>
                            <ul class="list-unstyled nav time">
                                <li class="hours">223<span class="d-md-none">h</span><span class="d-none d-md-block">Hours</span></li>
                                <li class="minute">43<span class="d-md-none">m</span><span class="d-none d-md-block">Minutes</span></li>
                                <li class="second">02<span class="d-md-none">s</span><span class="d-none d-md-block">Seconds</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cta-row">
                        <a href="#" class="cta black">Place a bid</a>
                        <a href="artwork" class="cta white">View artwork</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>